@media (max-width: 768px){
	.slider{
		display: none !important;
	}
	.blockMainText{
		width: 100% !important;
	}
	header{
		display: none !important;
	}
	.hamburger-menu{
		display: block !important;
	}
}

body{
	display:flex;
	flex-flow:column;
	justify-content:center;
	color: #314584;
	min-width: 540px;
	font-family: Tahoma, sans-serif;
}
	
header {
	margin-top: 3%;
	margin-bottom: 3%;
	display: inherit;
	flex-flow:row;
	font-size: 110%;
}
.headerLogo{
	align-self: center;
	text-align:center;
	font-weight: bold;
	width: 20%;
	font-size: 110%;
}
.headerLogo span{
	text-decoration: underline;
	text-decoration-color: #ff3946;
	text-decoration-thickness: 3px;
}

.headerMenu{
	display:inherit;
	align-self:center;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	width: 70%;
}
.headerMenu a{
	color: inherit;
	margin-right:30px;
	text-decoration: none;
}
.headerMenu a:hover{
	text-decoration: none;
	color: #ff3946;
}

.headerButtons{
	font-weight: bold;
	width: 90%;
	display: inherit;
	justify-content: center;
}
.whiteAndBlueButton
{
	padding: 10px 25px;
	border-radius: 15px;
	margin-right:20px;
	
	text-decoration: none;
	border:0px;
	background-color: white;
	color:#314584;
	font-size: 110%;
}
.whiteAndBlueButton:hover{
	box-shadow: 1px 5px 7px #e3e6e6;
	cursor: pointer;
}
.language{
	margin-right: 7%;
	font-weight: bold;
	border: none;
}
.buttonShadow{
	background-color: white;
	border: none;
	border-radius: 5px;
	color: #ff3946;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	box-shadow: 1px 5px 7px #e3e6e6;
}
.buttonShadow:hover{
	cursor: pointer;
	box-shadow: 1px 5px 17px #e3e6e6;
}

.hamburger-menu{
	display: none;
}

#menu__toggle {
  opacity: 0;
}
.menu__btn {
	display: flex; 
	align-items: center;  
	position: fixed;
	top: 20px;
	left: 20px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
	display: block;
	position:absolute;
	width: 100%;
	height: 2px;
	background-color: #adb5ce;
}
.menu__btn > span::before {
	content: '';
	top: -8px;
}
.menu__btn > span::after {
	content: '';
	top: 8px;
}
.menu__box {
	display: block;
	position: fixed;
	visibility: hidden;
	top: 0;
	left: -100%;
	width: 300px;
	height: 100%;
	margin: 0;
	padding: 80px 0;
	list-style: none;
	text-align: center;
	background-color: #314584;
	box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
.menu__item {
	display: block;
	padding: 12px 24px;
	color: white;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
}
.menu__item:hover {
	cursor: pointer;
	background-color: #adb5ce;
}
#menu__toggle:checked ~ .menu__btn > span {
	transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
	top: 0;
	transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
	visibility: visible;
	left: 0;
}


.blockMain{
	display:inherit;
	flex-flow: row;
	margin-left: 10%;
}
.blockMainText {
	flex-flow:column;
	align-self: center;
	width:50%;
}
.blockMainText p{
	font-size: 110%;
	color: #6e575a;
}
.blockMainText h1{
	font-size: 440%;
}

.redAndWhiteButton{
	background-color: #ff3946;
	color: white;
	border: none;
	padding: 10px 25px;
	border-radius: 15px;
	margin-right:20px;
	font-weight: bold;
	font-size: 100%;
}
.redAndWhiteButton:hover{
	cursor: pointer;
	box-shadow: 1px 5px 7px #e3e6e6;
}
.blockMainImage{
	display: flex;
}
.flex__column{
	min-width: 0;
}
.slider{
	min-width: 0;
	max-width: 50%;
	margin-right:7%
}
.slick-list{
	overflow: hidden;
}
.slick-track{
	display: flex;
}
.slider .slick-slide img{
	width: 100%;
	height:auto;
}


.blockItemsGrid {
	margin-right: 10%;
	margin-left: 10%;
	display:flex;
    flex-flow:column;
	justify-content:center;
}
h4 {
	font-size: 300%;
}
.blockItemsGrid a{
	margin-top: 3%;
	margin-bottom: 3%;
	color:#ff3946;
	align-self: center;
	text-decoration: none;
	font-size: 110%;
}
.blockItemsGrid a:hover{
	color: #314584;
}

.blockGrid {
	display:inherit;
    flex-wrap:wrap;
	max-width: 1400px;
	margin-left: -20px;
}
.blockGridElem
{ 
	margin:1% 1% 1% 1%;
	display:flex;
	height: 300px;
	width: 380px;
	background-color: #c3d0d8;
}

.blockContactUs{
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 4%;
	margin-top: 15%;
	display: flex;
	flex-flow: column;
	justify-self: flex-end;
}
.blockContactUs p{
	margin-bottom: 0%;
	color: #ff3946;
}
.blockContactUs h4{
	margin-top: 1%;
	margin-bottom: 3%;
}
.blockContactUs form{
	display: flex;
	flex-flow: column;
	
}
.blockContactUs form div{
	display: flex;
	flex-flow: row;
}
.blockContactUs form div input{
	width: 100%;
}
.blockContactUs form div input:first-child{
	margin-right: 2%;
}
.formTextarea{
	resize: none;
	margin-bottom: 2%;
	height: 60px;
}
.blockContactUs form div{
	margin-bottom: 2%;
}
.blockContactUsTextField{
	background-color: #f4fafe;
	border: none;
	padding: 10px;
	color:  #314584;
	font-family: inherit;
	font-size: 70%;
	font-weight: bold;
	
}
.blockContactUsTextField::-webkit-input-placeholder { color: #314584; }
.blockContactUsTextField::-moz-placeholder { color: #314584; }
.blockContactUs .redAndWhiteButton{
	align-self:center;
}

footer{
	margin:0px -8px -8px -8px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	background-color: #314584;
	color: white;
}
footer p{
	margin-top: 3%;
}
footer h1{
	margin-top: 12px;
	color: #ff3946;
}
.footerMenu{
	margin-top: 12px;
	margin-bottom: 12px;
	display: flex;
	justify-content:space-between;
	width: 30%;
}
.footerMenu a{
	text-decoration: none;
	color: white;
}
.footerMenu a:hover{
	color: #ff3946;
}
.footerSocialNetworksLinks{
	margin-top: 12px;
	margin-bottom: 3%;
	display: flex;
	justify-content:space-between;
	width: 20%;
}